{
  "reddit": {
    "client_id": "",
    "api_key": "",
    "bot_token": "",
    "bot_secret": "",
    "username": "",
    "password": ""
  },
  "trade_api": {
    "sandbox": {
      "api_key": "",
      "api_secret": ""
    }
  }
}